* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
    z-index: 1;
    position: sticky;
    top: 0;


    & .button {
        color: rgb(196, 251, 255);
        border-bottom: 1px solid rgb(15, 43, 21);
        padding: 0.3rem;

        &:hover {
            background: rgba(133, 190, 194, 0.199);
            border-radius: 50px;
        }
    }

}